<body>
  <h1>Sobre o Site - Por Anuzita</h1>
  <img
    src="assets/ola.png"
    alt="Mascote anime Anuzita com cabelo azul, maria-chiquinha e sorriso 
    dizendo Hello"
    class="anuzita"
  />
  <div class="texto">
    <p style="margin-bottom: 0">
      Ooiiiiêêêê! Sou eu, a sua amiga Anuzita se preparando pro serviço
      <span role="img" aria-label="emoji de óculos escuros e sorriso">😎</span>
      Assim como nos outros sites do meu criador (incrível total de dois,
      <span role="img" aria-label="emoji de chorando de rir">😂</span>), mas o
      que vale não é a quantidade, mas sim a qualidade, certo?
      <span role="img" aria-label="emoji de sorriso maroto">😏</span> Mas, vamos
      falar desse site em questão, kkkk.
    </p>
    <p style="margin-top: 0">
      Esse site é um laboratório virtual do dev
      <span role="img" aria-label="microscópio e notebook">🔬💻</span> É
      aqui que ele testa as coisas que aprende, e também compartilha com vocês,
      seus queridos visitantes, tudo que ele aprendeu. Então se um dia o site
      simplesmente parar de funcionar, ou algo estranho acontecer, não se
      assuste, é só o laboratório em ação
      <span role="img" aria-label="emoji de sorrindo com os dentes">😁</span>
    </p>
  </div>
</body>
