<body>
  <div class="cards" style="padding: 0">
    <div class="cards" style="background-color: black">
      <h1
        style="
          color: #00ff00;
          border-bottom: #00ff00 solid 2px;
          margin-top: 1rem;
          font-family: 'Courier New', 'Share Tech Mono';
        "
      >
        Estilo Hacker
      </h1>
      <div class="hacker">
        <div class="texto">
          <h1>Este é um exemplo de título</h1>
          <p>
            <strong>
              Texto de exemplo para demonstrar o estilo hacker. Este é um
              parágrafo de texto que simula o estilo de programação e terminal,
              com uma fonte que remete ao mesmo.</strong
            >
          </p>
          <p style="color: red">
            <strong>Exempo de estilo de mensagen de erro</strong>
          </p>
        </div>
      </div>
    </div>
    <h1 style="margin: 0 2rem;">Detalhes sobre o estilo</h1>
  </div>
</body>
